.form {
  max-width: 700px;
  background-color:#de6449;
  background-image: 
  radial-gradient(circle at 100% 150%, #de6449 24%, white 25%, white 28%, #de6449 29%, #de6449 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #de6449 24%, white 25%, white 28%, #de6449 29%, #de6449 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, #de6449 11%, #de6449 23%, white 24%, white 30%, #de6449 31%, #de6449 43%, white 44%, white 50%, #de6449 51%, #de6449 63%, white 64%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, #de6449 6%, #de6449 15%, white 16%, white 20%, #de6449 21%, #de6449 30%, white 31%, white 35%, #de6449 36%, #de6449 45%, white 46%, white 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, white 5%, #de6449 6%, #de6449 15%, white 16%, white 20%, #de6449 21%, #de6449 30%, white 31%, white 35%, #de6449 36%, #de6449 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size:100px 50px;
}

.content {
  max-width: 750px;
}