* {
  transition: all 200ms ease-in-out;
}

:root {
  --purple: #8600a8;
  --blue: #5ad;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 24px;
}

body {
  margin: 1.25em auto;
  padding: 0 2em;
  max-width: 40rem;
}

h1, p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

.button {
  border: 0.0625em solid var(--purple);
  border-radius: 0.1875em;
  color: var(--blue);
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.6em 1.2em;
  text-decoration: none;
}

.button:hover {
  background-color: var(--purple);
  border-color: none;
  color: #fff;
}